      
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    font-size: $font-size-base;
    color:$black;
    background-color:$light-silver;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: $font-size-base;
    font-weight: 300;
    line-height: 1.7em;
}

.font-small {
    
    font-size: ($font-size -0.1)rem;
}

.short-vision-1 {
    font-size: $font-size-base -$threetenth;
}

.short-vision-2 {
    font-size:$font-size-base -$twotenth;
}

.short-vision-3 {
    font-size:$font-size-base -$onetenth;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 5px 2px;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    background-color:$navbar-color;
    font-size:$navbar-font-size;
}

.news{
    
    padding: 5px 10px;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
    background-color:$news-color;
    font-size:$news-font-size;

}

.breadcrumb {
    
    background-color:$bread-crumb-color;
    font-size:$breadcrumb-font-size;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.navbar .btn {
    
    background-color:white;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.navbar li span {
    
    line-height: 1.4rem;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 280px;
    max-width: 280px;
    background: $sidebar-color;
    color: $black;
    transition: all 0.3s;
    
    padding: 5px 5px;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

#sidebar.active {
    margin-left: -280px;
}

#sidebar .sidebar-header {
    padding: 2px;
    background: $white;
}

#sidebar ul.components {
  

}

#sidebar ul p {
    color: $black;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    clear:both;
}

#sidebar ul li {
    
    clear:both;
}


#sidebar ul li a:hover {
    color: $blue;
    background: $white;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: $black;
    background-color:$sidebar-header;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    padding-left: 30px !important;
    background: white;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: white !important;
    color: #fff !important;
}
/* ---------------------------------------------------
    FOOTeR
----------------------------------------------------- */


   .page-footer {
      background-color: $footer-color;
      color: black;
      padding: 30px 0 15px;
    }
    .footer-copyright {
      color: black;
      padding: 10px 0;
    }

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    font-size:$content-font-size;
}

#content .signature {
    
    font-size:$content-font-size - $twotenth;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -280px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }    
}

@media (max-width: 550px) {
    
    .bar-size {
        
        max-width:160px;
    }
}

/*
Cookies
*/

#cookies {
    position: fixed;
    bottom: 0;
    width:100%;
    opacity: 0.84;
    z-index: 99;
    background-color: #262729;
    color:white;
    font-size:0.9rem;
    padding:0.3rem;
}


#sidebar .dropdown-toggle{
 
    font-size:$sidebar-font-size;
}

#sidebar ul ul li a {
    
    font-size:$sidebar-font-list-size;
}

audio {
    width: 200px;
    height: 25px;
    filter: sepia(40%) saturate(70%) grayscale(5) contrast(99%) invert(12%);
}



#fs2 .signature {
    
    font-size:$content-font-size - $twotenth +$onetenth;
}

#fs2 .navbar {
    
    font-size:$navbar-font-size +$onetenth;
}

#fs2 #sidebar .dropdown-toggle{
 
    font-size:$sidebar-font-size +$onetenth; 
}

#fs2 #sidebar ul ul li a {
    
    font-size:$sidebar-font-list-size +$onetenth;
}

#fs2 .news {
    
    font-size:$news-font-size +$onetenth;
}

#fs2 .breadcrumb {
    
    font-size:$breadcrumb-font-size +$onetenth;
}

#fs2 .content {
    
    font-size:$content-font-size +$onetenth;
}

#fs2 .short-vision-1 {
    font-size: $font-size-base -$threetenth +$onetenth;
}

#fs2 .short-vision-2 {
    font-size:$font-size-base -$twotenth +$onetenth;
}

#fs2 .short-vision-3 {
    font-size:$font-size-base -$onetenth +$onetenth;
}

#fs3 .signature {
    
    font-size:$content-font-size - $twotenth +$onetenth;
}

#fs3 .navbar {
    
    font-size:$navbar-font-size +$twotenth;
}

#fs3 #sidebar .dropdown-toggle{
 
    font-size:$sidebar-font-size +$twotenth; 
}

#fs3 #sidebar ul ul li a {
    
    font-size:$sidebar-font-list-size +$twotenth;
}


#fs3 .news {
    
    font-size:$news-font-size +$twotenth;
}

#fs3 .breadcrumb {
    
    font-size:$breadcrumb-font-size +$twotenth;
}

#fs3 .content {
    
    font-size:$content-font-size +$twotenth;
}

#fs3 .short-vision-1 {
    font-size: $font-size-base -$threetenth +$onetenth +$twotenth;
}

#fs3 .short-vision-2 {
    font-size:$font-size-base -$twotenth +$onetenth +$twotenth;
}

#fs3 .short-vision-3 {
    font-size:$font-size-base -$onetenth +$onetenth +$twotenth;
}
