// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 1rem;
$line-height-base:1.6;
$font-size:1.1;
$minus:0.1;
$minus2:0.2;
$onetenth:0.1;
$twotenth:0.2;
$threetenth:0.3;

$font-small:$font-size-base - $twotenth;
$sidebar-font-size:$font-size-base + $onetenth;
$sidebar-font-list-size:$font-size-base -$onetenth;
$navbar-font-size:$font-size-base -$minus;
$news-font-size:$font-size-base -$minus;
$breadcrumb-font-size:$font-size-base;
$content-font-size:$font-size-base;


// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$black: #000000;
$white:#FFFFFF;

$light-silver:#F8F9FA;
$dark-silver:#e9ecef;

$navbar-color:$light-silver;

$news-color:$white;

$bread-crumb-color:$dark-silver;

$footer-color:$dark-silver;

$sidebar-color:$white;

$sidebar-header:$light-silver;