body {

    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;   
    background: url('/img/background-'+2+'.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    background-attachment: fixed;
}
#app {
    
    opacity: 0.75;
}